input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(140, 140, 140);
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgb(220, 220, 220);
}


option {
    background-color: transparent;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}